<div class="mt-[40px] ml-[5vw] flex flex-row justify-between">
  <input
    matInput
    placeholder="Search for a country"
    class="w-[45vw] h-[40px] border-none shadow-lg rounded-md p-2 focus:outline-none text-lg mt-5 hover:bg-gray-50 dark:hover:bg-slate-600 dark:bg-slate-700 transition dark:text-white dark:placeholder-gray-400"
    [(ngModel)]="searchText"
  />

  <div class="w-[15%] mr-[75px]">
    <div class="relative inline-block text-left">
      <div>
        <button
          type="button"
          class="inline-flex w-full text-left justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100 border-none shadow-lg dark:bg-slate-700 dark:text-white dark:hover:bg-slate-500 transition"
          id="menu-button"
          aria-expanded="true"
          aria-haspopup="true"
          (click)="toggleShowOptions()"
        >
          {{regionValue}}
          <!-- Heroicon name: mini/chevron-down -->
          <svg
            class="-mr-1 ml-2 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>

      <div
        class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-slate-700"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
        *ngIf="showOptions === true"
      >
        <div class="py-1 dark:bg-slate-600" role="none" *ngFor="let option of options">
          <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
          <button
            class="w-full text-gray-700 block px-4 py-2 text-sm text-left bg-white border-none hover:bg-gray-50 dark:hover:bg-slate-500 dark:bg-slate-600 dark:text-white"
            (click)="getFiltered(option.id, option.region)"
          >
            {{option.region}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-[75px]">
  <app-countries [countries]="filteredCountry" [text]="searchText" [region]="regionValue"></app-countries>
</div>