<div class="flex flex-row flex-wrap justify-evenly" [ngClass]="{ dark: themeService.isDarkEnabled === false }" *ngIf="themeService.isDarkEnabled === false">
    <mat-card class="bg-white w-[275px] mt-5" *ngFor="let country of countries | async | searchPipe: text">
        <img src="{{country.flag}}" alt="{{country.name}}" class="w-[275px]">
        <p class="font-bold text-lg pt-5 pl-[15px]">{{country.name }}</p>
        <div class="pl-[15px]">
            <p>Population: <span class="text-gray-500">{{country.population | number}}</span></p>
            <p>Region: <span class="text-gray-500">{{country.region}}</span></p>
            <p>Capital: <span class="text-gray-500">{{country.capital}}</span></p>
            <button routerLink="/info" (click)="showInfo(country.name)" class="border-none transition cursor-pointer p-3 rounded-md hover:bg-gray-200">More Info</button>
        </div>
    </mat-card>
</div>

<!-- DARK MODE -->
<div class="flex flex-row flex-wrap justify-evenly" [ngClass]="{ dark: themeService.isDarkEnabled === true }" *ngIf="themeService.isDarkEnabled === true">
    <mat-card class="bg-white w-[275px] mt-5 dark:bg-slate-700 dark:text-white" *ngFor="let country of countries | async | searchPipe: text">
        <img src="{{country.flag}}" alt="{{country.name}}" class="w-[275px]">
        <p class="font-bold text-lg pt-5 pl-[15px]">{{country.name }}</p>
        <div class="pl-[15px]">
            <p>Population: <span class="text-gray-300">{{country.population | number}}</span></p>
            <p>Region: <span class="text-gray-300">{{country.region}}</span></p>
            <p>Capital: <span class="text-gray-300">{{country.capital}}</span></p>
            <button routerLink="/info" (click)="showInfo(country.name)" class="dark:bg-slate-500 border-none dark:text-white dark:hover:bg-slate-400 transition cursor-pointer p-3 rounded-md">More Info</button>
        </div>
    </mat-card>
</div>

